.vercel
# Node.js
node_modules/


# Environment variables
# .env
# .env.*.local

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm